/* Tarjeta de cada competición */
.cardCompeticion {
  border-radius: 15px;
  box-shadow: 0 4px 8px var(--primary-500);
  overflow: hidden;
  width: 400px;
  height: 500px;
  text-align: center;
  margin: 10px;
  transition: 1s ease;
  cursor: pointer;
}

.cardCompeticion:hover {
  scale: 1.05;
}

.imgCompeticion {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.infoCompeticion {
  padding: 10px;
}

.infoCompeticion h2 {
  font-size: 1.7em;
  color: var(--text);
}

.ubicacionComp {
  font-size: 1em;
  color: var(--text);
}
