.competicionesHome {
  margin-left: 5%;
  margin-right: 5%;
  flex-wrap: wrap;
}

.sectionCompeticiones {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2.1em;
}
